@import '../theme/scss/reset';

@include b('divider') {
    @include m('h') {
        display: flex;
        clear: both;
        width: 100%;
        min-width: 100%;
        border-block-start: 1px solid $divider;
        margin: $margin 0;
    }

    @include m('v') {
        position: relative;
        margin: 0 8px;
        vertical-align: middle;
        align-self: stretch;
        &::before {
            position: absolute;
            content: "";
            bottom: 0.5em;
            top: 0.5em;
            border-top: 0;
            min-height: 1rem;
            border-inline-start: 1px solid $divider;
        }
    }

    @include when('has-title') {
    }
}
