//registry.npmjs.org/:_authToken=${NPM_ACCESS_TOKEN}
@yiird:registry=https://registry.npmjs.org
@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=${FONTAWESOME_NPM_AUTH_TOKEN}