{
    "$schema": "https://json.schemastore.org/prettierrc",
    "printWidth": 180,
    "tabWidth": 4,
    "useTabs": false,
    "singleQuote": true,
    "endOfLine": "lf",
    "bracketSameLine": true,
    "jsxSingleQuote": true,
    "trailingComma": "none",
    "singleAttributePerLine": true,
    "htmlWhitespaceSensitivity": "ignore"
}
