@import '../theme/scss/reset';
@import '../theme/scss/form-text';

@include b('input') {
    @include input;

    @include e('content') {
        :deep(.button) {
            border-color: transparent;
            padding: 5px;
        }

        @include e('password-icon') {
            color: $colorText;
            margin-right: 5px;
        }

        @include e(('suffix', 'prefix')) {
            position: relative;
            display: flex;
            align-items: center;
            height: 100%;
            user-select: none;
            cursor: pointer;
        }

        @include e('prefix') {
            border-radius: 5px 0 0 5px;
            &::after {
                content: '';
                position: absolute;
                right: 0;
                top: 0;
                bottom: 0;
            }
        }

        @include e('suffix') {
            border-radius: 0 5px 5px 0;
            &::before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
            }
        }
    }

    @include m('check-password') {
        @include e('password-icon') {
            color: $colorText;
        }
    }

}
