@import '../theme/scss/reset';
@import '../theme/scss/animate';

@include b(button) {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    font-weight: 400;
    text-decoration: none;
    text-align: center;
    letter-spacing: 1px;
    margin: 0;
    cursor: pointer;
    box-sizing: border-box;
    white-space: nowrap;
    vertical-align: middle;
    padding: 0 calc($height / 2);
    border: 1px solid $colorSecondary;
    height: $height;
    line-height: $lineHeight;
    font-size: $fontSize;
    color: $colorText;
    background-color: $colorSecondary;
    box-shadow: $shadow;
    border-radius: calc($height * 0.2);
    font-weight: var(--ye-font-weight-light);
    transition: all 0.3s;
    outline: none;

    position: relative;

    &::before {
        position: absolute;
        content: '';
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        border-radius: inherit;
        outline: 8px solid $colorPrimary;
        opacity: 0;
        transition: 0.3s;
    }

    &:active::before {
        outline-width: 0;
        opacity: 1;
        transition: 0s;
    }

    &:hover {
        opacity: 0.5;
    }
    
    &:focus {
        opacity: 0.7;
    }

    &:active {
        opacity: 1;
    }

    @include m('empty') {
        color: $colorPrimary;
        background-color: transparent;
    }

    @include m('half') {
        background-color: $colorHalfAlpha;
    }

    @include m('link') {
        color: $colorSecondary;
        background-color: transparent;
        border-color: transparent;
        box-shadow: unset;
        text-decoration: underline;
        text-underline-offset: 0.2rem;
        padding: 0;
        &::before {
            top: 50%;
            right: 10%;
            left: 10%;
            bottom: 50%;
        }
    }
    @include m('dashed') {
        border-style: dashed;
        background-color: transparent;
        color: $colorSecondary;
    }

    @include m('circle') {
        width: $height;
        border-radius: 100%;
    }

    @include m('square') {
        width: $height;
    }

    @include m('ellipse') {
        border-radius: calc($height * 0.5);
    }

    :deep(.icon) {
        font-size: 1.1em;
        vertical-align: text-bottom;
    }

    @include e('loading') {
        margin-right: 2px;
    }

    @include m('disabled') {
        opacity: 0.5;
        cursor: not-allowed;
        &:hover {
            opacity: 0.5;
        }
        &::before {
            outline-width: 0;
        }
    }
}
