@import './bem';

@mixin typography {
    color: $color;
    user-select: none;

    @include m('delete') {
        text-decoration: line-through;
    }
    @include m('underline') {
        text-decoration: underline;
    }
    @include m('strong') {
        font-weight: bold;
    }
    @include m('italic') {
        font-style: italic;
    }
    @include m('mark') {
        background-color: $colorMark;
        padding: 0 2px;
    }

    @include m('selectable') {
        user-select: auto;
    }
}
