@import '../../theme/styles/bem';

@include b('layout') {
    width: 100%;
    height: 100%;
    position: relative;

    @include b('header') {
        $height: _var('height');

        position: absolute;
        width: 100%;
        height: $height;
        top: 0;
    }

    @include b('footer') {
        $height: _var('height');

        position: absolute;
        width: 100%;
        height: $height;
        bottom: 0;
    }

    @include b('sider-left') {
        $width: _var('width');
        $top: _var('top');
        $bottom: _var('bottom');

        position: absolute;
        width: $width;
        top: $top;
        bottom: $bottom;
        left: 0;
    }

    @include b('sider-right') {
        $width: _var('width');
        $top: _var('top');
        $bottom: _var('bottom');
        position: absolute;
        width: $width;
        top: $top;
        bottom: $bottom;
        right: 0;
    }

    @include b('main') {
        $right: _var('right');
        $left: _var('left');
        $top: _var('top');
        $bottom: _var('bottom');

        position: absolute;
        top: $top;
        bottom: $bottom;
        right: $right;
        left: $left;
    }
}
