@import '../../theme/scss/reset';
@import '../../theme/scss/typography';

@include b('text') {

    @include typography;


    display: inline;

    @include m('code') {
        padding-inline: 5px;
        margin-inline: 1px;
        border-radius: 3px;
        background-color: $codeColorBg;
        border: 1px solid $codeColorBorder;
    }

    
}
