@import '../../theme/styles/var';
@include b('popper') {
	$bgColor: _var('bg-color', rgba($-global-color-bg-black));
	$borderColor: _var('border-color', rgba($-global-color-border-light));

	position: absolute;
	top: 0;
	left: 0;
	background: $bgColor;
	font-weight: bold;
	padding: 5px;
	border-radius: 4px;
	font-size: 90%;
	display: none;
	border: 1px solid $borderColor;

	@include e('arrow') {
		position: absolute;
		background: $bgColor;
		width: 8px;
		height: 8px;
		transform: rotate(45deg);
	}

	@include m('shadow') {
		box-shadow: $-global-box-shadow-low-down;
	}
}
