@import '../theme/scss/reset';

@include b('popover') {
    position: absolute;
    background-color: $bgColor;
    padding: $padding;
    border: 1px solid $bgColor;
    visibility: hidden;
    box-shadow: $shadow;
    border-radius: $radius;

    z-index: 2;

    max-width: $maxWidth;
    min-width: $minWidth;
    max-height: $maxHeight;
    min-height: $minHeight;

 
    @include e('text'){
        color: $color;
    }
  

    @include e('arrow') {
        position: absolute;
        background: $bgColor;
        width: $arrowSize;
        height: $arrowSize;
        transform: rotate(45deg);
        border: 1px solid $bgColor;
        z-index: -1;
    }

    @include e('content'){
        overflow: hidden;
        border-radius: $radius;
    }

    @include m('arrow-top') {
        @include e('arrow') {
            border-bottom-color: transparent;
            border-right-color: transparent;
        }
    }

    @include m('arrow-bottom') {
        @include e('arrow') {
            border-top-color: transparent;
            border-left-color: transparent;
        }
    }
    @include m('arrow-left') {
        @include e('arrow') {
            border-top-color: transparent;
            border-right-color: transparent;
        }
    }
    @include m('arrow-right') {
        @include e('arrow') {
            border-bottom-color: transparent;
            border-left-color: transparent;
        }
    }

    @include m('arrow-hide'){
        @include e('arrow') {
            visibility: hidden;
        }
    }
}
