@import '../theme/scss/reset';

@include b(tree) {
    width: 100%;
    height: $height;
    @include e('node') {
        font-size: $fontSize;
        height: $nodeHeight;
        line-height: $nodeHeight;

        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        user-select: none;
        outline: none;
        color: $color;
        white-space: nowrap;

        :deep(.icon) {
            vertical-align: baseline;
        }


        @include when('drop-in'){
            background-color: $colorHover;
        }
        @include when('drop-after'){
            border-bottom: 2px solid $colorHover;
        }



        @include e('node-indent') {
            display: flex;
            align-items: stretch;
            flex-wrap: nowrap;
            height: 100%;
            @include e('node-indent-space') {
                width: calc($fontSize * 1.5);
                display: block;
                position: relative;
                height: 100%;
                &::before,
                &::after {
                    position: absolute;
                    content: '';
                    opacity: 0.5;
                }
                &::before {
                    border-inline-start: 1px dotted $color;
                    inset-inline-start: calc(50% - 2px);
                    height: 100%; //calc(50% + 1px);
                }

                &:first-child {
                    &::before {
                        // border-inline-start-color: transparent;
                    }
                }

                &:last-child {
                    &::before {
                        border-inline-start-color: $color;
                    }
                    &:after {
                        left: 50%;
                        right: 0;
                        bottom: calc(50% - 1px);
                        border-bottom: 1px dotted $color;
                    }
                }

                @include when('hide-line') {
                    &::before {
                        border-inline-start-color: transparent;
                    }
                }
            }
        }

        @include when('has-only-child') {
            @include e('node-indent-space') {
                &:last-child {
                    &::before {
                    }
                }
            }
        }

        @include when('last-brother') {
            @include e('node-indent-space') {
                &:last-child {
                    &::before {
                        height: calc(50% + 1px);
                    }
                }
            }
        }

        @include e('node-content') {
            display: flex;
            align-items: center;
            column-gap: 0.25rem;

          

            @include e('node-icon') {
                font-size: 1.3em;
            }
            @include e('node-text') {
                cursor: pointer;
                padding: 0 0.25rem;
                box-sizing: border-box;
                border: 1px solid transparent;
                border-radius: 5px;

                &:hover {
                    background-color: $colorHover;
                }
            }
        }

        @include when('first-brother') {
        }

        @include when('selected') {
            @include e('node-icon') {
                color: $colorFocus;
            }
            @include e('node-text') {
                color: $colorSelected;
            }
        }

        @include when('half-check') {
            @include e('icon') {
                color: unset;
            }
        }
    }

    @include m('no-line') {
        @include e('no-lineindent-space') {
            &::before {
                border-color: transparent;
            }

            &:after {
                border-color: transparent;
            }
        }
    }
}
