@import '../theme/scss/reset';

@include b('space') {
    display: flex;
    gap: $gap;
    justify-content: $mainAxis;
    align-items: $crossAxis;
    flex: 1 1 0;
    @include m('h') {
        flex-direction: row;
    }
    @include m('v') {
        flex-direction: column;
    }
}
