@import '../../theme/scss/reset';

@include b('row') {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-flow: row wrap;
    gap: #{$gutterAuxiliaryAxis} #{$gutterMainAxis};
    margin-bottom: #{$gutterAuxiliaryAxis};
    box-sizing: border-box;
    
    &:last-child {
        margin-bottom: 0;
    }
}
