@import './mixins/config';
@import './mixins/base';
@import './mixins/layout';

@import './var';
@include b('layout') {
	overflow: hidden;

	/* column 布局 */

	@include m((column-12, column-24)) {
		display: block;
	}

	/* form 布局 */

	@include m(framework) {
		display: block;
	}
}
